{{define "footer"}}
    <div class="b-example-divider"></div>

    <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-left py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-left">
        <span class="text-muted">&copy; 2022 BookLibrary, Inc</span>
        </div>
    </footer>
    </div>

{{end}}