{{define "title"}}Add New Book{{end}}

{{define "main"}}
<form method="POST" action="/addbook">

    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Title</span>
    <input type="text" class="form-control" value="Shogun" aria-label="Title" aria-describedby="basic-addon1" name="title" required>
    </div>

    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Description</span>
    <input type="text" class="form-control" value="Japan history" aria-label="Description" aria-describedby="basic-addon1" name="description" required>
    </div>

    <div class="input-group">
    <span class="input-group-text">Content</span>
    <textarea class="form-control" aria-label="Content" name="content" required>James Clavell</textarea>
    </div>

    <br>
    <button type="submit" class="btn btn-outline-primary">Submit</button>

</form>
{{end}}