{{define "title"}}User Login{{end}}

{{define "main"}}

<br>
<form method="POST" action="/login">
{{ with .Errors.PopUp }}
  <div class="alert alert-warning" role="alert">
    {{ . }}
  </div>
{{ end }}
    <div class="form-floating mb-3">
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="{{.Email}}" required>
    <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="{{.Password}}" required>
    <label for="password">Password</label>
    </div>
    <div class="form-floating mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
{{end}}
