

{% extends "base.html" %}

{% block content %}

  <div class="jumbotron">
    <h1 class="display-4">Hello, readers!</h1>
    <p class="lead">Have a Book that needs to be updated in the library?</p>
    <hr class="my-4">
    <p>Please use the form below to update your book.</p>
    
    <form method="POST" >
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      <p class="lead">
        <div class="input-group">
          <span class="input-group-text">{{ form.id.label }}</span>
          {{ form.id(class="form-control") }}
        </div>
      </p>
      <p class="lead">
        <div class="input-group">
          <span class="input-group-text">{{ form.title.label }}</span>
          {{ form.title(class="form-control") }}
        </div>
      </p>
      <p class="lead">
        <div class="input-group">
          <span class="input-group-text">{{ form.description.label }}</span>
          {{ form.description(class="form-control") }}
        </div>
      </p>
      <p class="lead">
        <div class="input-group">
          <span class="input-group-text">{{ form.content.label }}</span>
          {{ form.content(class="form-control") }}
        </div>
      </p>
      <p class="lead">
        {{ form.submit(class="btn btn-outline-primary btn-lg") }}
      </p>
    </form>
  </div>
{% endblock %}



